{#
/**
 * @file
 * Better Login theme implementation to display a login page.
 *
 *
 * Available variables:
 *
 * General utility variables:
 * - url: The base URL path of the Drupal website.
 * - logo: Logo path of Drupal website.
 * - site_name: Site name of Drupal website.
 * - title: Title of a page.
 * - register_url: A registration url of Drupal website.
 *
 *
 * Regions:
 * - page.highlighted: Items for the highlighted region.
 * - page.content: The main content of the current page.
 *
 * @see betterlogin_preprocess_betterlogin()
 */
#}

<div id="auth_box" class="login {{ class_body_site_pub }}">
  <div id="left_part">
    <div id="the_logo">
      <a href="{{ url('<front>') }}">
        <img src="{{ logo }}" alt="{{ site_name }}" />
      </a>
    </div>

    <h1 class="title-login">{{ title }}</h1>
    {{ page.highlighted }}

    {{ page.content }}

    {{ page.footer }}
    {% if site_public %}
      {{ include ('@b_zf/pages/mention-legale-copyright.html.twig') }}
    {% endif %}
  </div>

  <div id="right_part">
    <div class="image-right">
      <image src="/files/Porc-hache-design.jpg" alt="image right login" />
    </div>
  </div>
</div>
