{% set main_menu = page.primary_menu|render %}
{% set secondary_menu = page.secondary_menu|render %}
<div{{ attributes.addClass(
  'layout-container',
  main_menu or secondary_menu ? 'with-navigation',
  secondary_menu ? 'with-subnav'
) }}>

  <!-- ______________________ HEADER _______________________ -->
  <header>
      <!-- logo and ad break -->
      <article class="grid-container">
        <div class="grid-x grid-margin-x align-middle">
          <div class="medium-2 cell {# logo-entete #}">
            {{ page.header }}
          </div>
          
          <div class="medium-10 cell {# section-recherche-entete #}">
            <div class="grid-x align-middle">
              <div class="cell medium-8">
                {# <button class="icon-recherche" data-toggle="searchModal"><i class="fas fa-search"></i></button> #}
                {{ include ('@b_zf/recherche/recherche.html.twig') }}
                
              </div>

              <div class="cell medium-2">
                <div class="custon-content-formation">
                  <a href="#" class="btn-formation" >Formation</a>
                </div>
              </div>

              <div class="cell medium-2">{{ page.info }}</div>
            </div>
          </div>
        </div>
      </article>
      <!-- / logo and ad break -->

      <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium" style="display: none;" data-e="osk1c9-e">
        <button class="menu-icon" type="button" data-toggle=""></button>
        <div class="title-bar-title">Menu</div>
      </div>

      <div class="top-bar" id="main-menu" style="display: flex;">
        <div class="grid-container">
          {{ page.main_navigation }}
        </div>
      </div>

    </header>

  {% if page.hero|render %}
    <div class="grid-container full hero hero-taxonomy">
      {{ page.hero }}
    </div><!-- /#sidebar-first -->
  {% endif %}

  <!-- ______________________ MAIN _______________________ -->

  <section class="grid-container na-pages" id="main">
    <div class="grid-x grid-margin-x">

    {% if page.sidebar_left %}
      <aside id="sidebar_left" class="medium-3 cell sidebar">
        {{ page.sidebar_left }}
      </aside><!-- /#sidebar_left -->
    {% endif %}

    {% if page.sidebar and page.sidebar_left %}
      <div class="medium-7 cell" id="content">
    {% elseif page.sidebar %}
      <div class="medium-10 cell" id="content">
    {% elseif page.sidebar_left %}
      <div class="medium-9 cell" id="content">
    {% else %}
      <div class="medium-12 cell" id="content">
    {% endif %}

        {{ page.breadcrumb }}

        {% if page.highlighted|render %}
          <div id="highlighted">{{ page.highlighted }}</div>
        {% endif %}

        {{ title_prefix }}

        {% if title %}
          <h1 class="title">{{ title }}</h1>
        {% endif %}

        {{ title_suffix }}
        {{ page.help }}

        {% if tabs %}
          <div class="tabs">{{ tabs }}</div>
        {% endif %}

        {% if action_links %}
          <ul class="action-links">{{ action_links }}</ul>
        {% endif %}

        {{ page.content }}
      </div>

    {% if page.sidebar %}
      <aside id="sidebar" class="medium-2 cell sidebar">
        {{ page.sidebar }}
      </aside><!-- /#sidebar -->
    {% endif %}
    </div>
  </section><!-- /#section-main -->

  <!-- ______________________ SECTION 1 _______________________ -->

  {% if page.section1 %}
    <section class="grid-container section1">
      <div class="grid-x grid-margin-x grid-margin-y">
        {{ page.section1 }}
      </div>
    </section>
  {% endif %}<!-- /#section-1 -->

  <!-- ______________________ SECTION 2 _______________________ -->

  {% if page.section2 %}
    <section class="grid-container section2">
      <div class="grid-container">
        {{ page.section2 }}
      </div>
    </section>
  {% endif %}<!-- /#section-2 -->

  <!-- PRE-FOOTER 1 -->
  {% if page.prefooter1 %}
    <div class="grid-container full pre-footer1">
      <div class="grid-container medium">
        <div class="align-middle text-center">
          {{ page.prefooter1 }}
        </div>
      </div>
    </div>
  {% endif %}<!-- /#prefooter-1 -->

  <!-- PRE-FOOTER 2 -->
  {% if page.prefooter2 %}
    <div class="grid-container full pre-footer2">
      <div class="grid-container medium">
        {{ page.prefooter2 }}
      </div>
    </div>
  {% endif %}<!-- /#prefooter-2 -->

<!-- ______________________ FOOTER _______________________ -->

  {% if page.footer|render %}
    <footer class="grid-container full" id="footer">
      <div class="grid-container">
        <div class="grid-x" id="footer-region">
          {# {{ page.footer }} #}

             <div class="footer-distributed">

                  <div class="footer-left">
                  <div class="footer-company-details">
                    <div class="footer-logo-company">
                      <img src="/files/Groupe%202%402x.png" class="img-footer-logo" />
                    </div>

                    <div class="desciption-company-footer">

                      <p class="footer-company-about">
                        Culture Viande fédère les principales entreprises françaises des viandes du secteur de la viande bovine, ovine et porcine en France.
                      </p>
                      <div class="footer-icons">
                        <a class="social-button facebook" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square"></i></a>
                        <a class="social-button twitter" href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a class="social-button linkedin" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
                        <a class="social-button instagram" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
                      </div>

                    </div>
                      </div>
                    
                  </div>

                  <div class="footer-center">

                    <div class="btn-footer-center">
                      <a  target="_blank" href="https://www.google.com/maps/place/17+Pl.+des+Vins+de+France,+75012+Paris,+France/@48.8323146,2.3843719,17z/data=!3m1!4b1!4m6!3m5!1s0x47e6723f7bb6c197:0x99f51e3b2ada0b89!8m2!3d48.8323111!4d2.3869468!16s%2Fg%2F11cslplhc2?entry=ttu">
                      <i class="icon-custom-map-marker"></i>17, Place des vins de France 75012 PARIS France
                      </a>
                    </div>

                    <div class="btn-footer-center">                                           
                      <a href="tel:0153024004"><i class="icon-custom-phone-call"></i>01 53 02 40 04</a>
                    </div>

                    <div class="btn-footer-center">                      
                      <a href="mailto:courrier@cultureviande.fr"><i class="icon-custom-mail-box"></i>courrier@cultureviande.fr</a>
                    </div>

                  </div>

                  <div class="footer-right">

                    <ul class="footer-links">
                      <li>
                        <a href="{{ public-site }}"><i class="icon-custom-terrestrial-globe"></i> Site public</a>
                      </li>
                   <ul>
                </div>

            </div>
        </div>
      </div>
    </footer><!-- /#footer -->
  {% endif %}
</div><!-- /.layout-container -->
